<div class="button-row">
	<button type="button" data-action="reset">Reset to 2d6</button>
	<button type="button" data-action="roll" data-rollType="Compendium.trench-crusade.general-roll-tables.RollTable.bGPvSGI2TMk7MXSv" >Roll for Success</button>
	<button type="button" data-action="roll" data-rollType="Compendium.trench-crusade.general-roll-tables.RollTable.zbCPTlckvcLkVtNH" >Roll for Injury</button>
</div>