<div class="button-row">
	<button type="button" data-action="reset">Reset to 2d6</button>
	<button type="button" data-action="roll" data-rollType="Compendium.world.trench-crusade.RollTable.K2d6xOlMdUy4Yq6a" >Roll for Success</button>
	<button type="button" data-action="roll" data-rollType="Compendium.world.trench-crusade.RollTable.wjO5lkA4FMfzaGUu" >Roll for Injury</button>
</div>