<div class="button-row">
	<button class="application-button" type="button" data-action="reset">Reset to 2d6</button>
	<button class="application-button" type="button" data-action="roll" data-rollType="Compendium.trench-crusade.general-roll-tables.RollTable.bGPvSGI2TMk7MXSv" >Roll for Success</button>
	<button class="application-button" type="button" data-action="roll" data-rollType="Compendium.trench-crusade.general-roll-tables.RollTable.zbCPTlckvcLkVtNH" >Roll for Injury</button>
	<button class="application-button-bloodbath" type="button" data-action="rollBloodbath" data-rollType="Compendium.trench-crusade.general-roll-tables.RollTable.zbCPTlckvcLkVtNH" >Roll for Bloodbath</button>
	<button class="application-button-d3" type="button" data-action="rolld3" >Roll d3</button>
</div>