<div class="button-row">
	<button type="button" data-action="roll" data-rollType="Action Success Table" >Roll for Success</button>
	<button type="button" data-action="roll" data-rollType="Injury Chart" >Roll for Injury</button>
</div>