<div>
	<div class="dice-count-row">
		<span><span aria-hidden="true">formula: </span>'{{ formula }}'</span>
	</div>	
	<div slot="content" class="d6-incrementer">
		<div class="flexrow">
			<div>
				<button type="button" data-action="diceCountDelta" data-delta="1" > +1D </button>
				<button type="button" data-action="diceCountDelta" data-delta="-1"> -1D </button>
			</div>
			<div>
				<button type="button" data-action="diceBonusDelta" data-dicebonus="1" > +1 </button>
				<button type="button" data-action="diceBonusDelta" data-dicebonus="-1" >-1 </button>
			</div>
		</div>
	</div>
</div>